// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

&spi3 {
    dw3000: dw3000@0 {
        compatible = "qorvo,dw3000";
        spi-max-frequency = <32000000>;
        spi-min-frequency = <2000000>;
        reg = <0>;
        irq-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;

        // dwt_config_t default values:
        chan = <5>;
        txcode = <9>;
        rxcode = <9>;
        sfdtype = <1>;
        datarate = <0>;
        txpreamblength = <1024>;
        rxpac = <1>;
        phrmode = <0>;
        phrrate = <0>;
        stsmode = <0>;
        stslength = <7>;
        pdoamode = <0>;
    };
};
